// _advertising.scss

.rr-list {
  list-style: none;
}
.front-page-product-advertising {
  margin: 0 auto;
}
.rr-list {
  padding: 0;
  margin: 0;
}
.front-page-product-advertising img, .rr-list img {
  margin: 0 auto;
}
.sponsors-logos img {
  display: inline-block;
  max-width: none;
}
@supports (display: flex) {
  .front-page-product-advertising {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    justify-content: space-evenly;
  }
  .product-advert {
    align-self: center;
  }
  .rr-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}
.sponsors-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}
.sponsors-logos a {
  align-self: center;
}
.rr-list li {
  margin: 1em 0;
}
.rr-advert {
  margin: 0 1em;
}
.sponsors-logos a {
  // vertical | horizontal
  margin: 1em;
}

@media screen and (min-width: 37.5em) {
  .front-page-product-advertising {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .product-advert img {
    margin: 0 1em;
  }
  .product-advert {
    align-self: center;
  }
  .rr-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .product-advert {
  /*  margin: 0 1em;*/
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .rr-list {
    flex-flow: column wrap;
  }
}  