// _as-seen-in.scss

@media screen and (min-width: 37.5em) {
  .as-seen-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .as-seen-in .section-title {
    align-self: center;
  }
}
