// _book-your-consultation.scss

.consultation {
  background-image: url("../img/book-your-consultation-bg.jpg");
  background-size: cover;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.book-your-consultation-title {
  text-align: center;
  padding: 2em;
  border: 2px solid $tnn-primary;
  margin: 2em 4em;
}

.book-your-consultation-title span {
  display: block;
}
