// _book-your-consultation.scss
.consultation {
    display: none;
}

@media screen and (min-width: 37.5em) {
  .consultation {
    display: grid;
    background-color: $tnn-secondary;
    background-image: url("../img/book-your-consultation-bg.jpg");
    background-size: cover;
    padding: 0;
  }
  .book-your-consultation-button {
    display: none;
  }
  .book-your-consultation-title {
    margin: 1.5em 0;
    padding: 0;
    padding-right: 3.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid $tnn-primary;
  }
  .book-your-consultation-title span {
    display: block;
  }
  .consultation img {
    display: block;
  }
}
