
// _buttons.scss
button, input[type="button"], input[type="reset"], input[type="submit"],
 .button, .button:link, .button:visited, .added_to_cart:link, .added_to_cart:visited {
  font-family: 'Oswald', sans-serif;
  background-color: $tnn-primary;
  color: $tnn-light;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.6em 1em;
  border: none;
  border-radius: 0;
  box-shadow: $tnn-shadow;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,
 button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active, 
 .button:hover, .button:active, .added_to_cart:hover, .added_to_cart:active  {
  background-color: $tnn-secondary;
  box-shadow: none;
}

.search-submit {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
      background-color: rgb(230, 230, 230);
  color: rgba(0,0,0,0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  box-shadow: none;
}

.search-submit:hover, .search-submit:active {
  background-color: #F1F1F2;
}

.front-cta a:hover, .front-cta a:first-child:hover, .front-cta a:active, .front-cta a:first-child:active {
  background-color: $tnn-secondary;
}

// WooCommerce button to match Add to cart button
.added_to_cart:link {
  font-size: 100%;
  padding: .618em 1em;
  line-height: 16px;
  padding-top: .618em;
  @media only screen and (max-width: 495px) {
    margin-top: 1em;
  }
}
