// colours.scss

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Text
# Links
# Backgrounds
# Hover
# Misc
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Text
--------------------------------------------------------------*/
h1, h2, h3, .section-title {
  color: $tnn-secondary-variation-1;
}

.cta-caption-title, .book-your-consultation-title, .popular-recipes-title, .popular-recipes-slide-title, .copyright {
  color: $tnn-light;
}

.goto-top-angle {
  color: $tnn-grey-2;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
.entry-content a {
  text-decoration: underline;
}

a, a:link, a:visited  {
  color: $tnn-primary;
}
a:hover, a:active, a:focus  {
  color: $tnn-secondary;
}

.book-your-consultation-link:hover, .book-your-consultation-link:active, .book-your-consultation-link:focus  {
  color: $tnn-primary-variation-3;
}



/*--------------------------------------------------------------
# Background
--------------------------------------------------------------*/
.site-footer {
  background-color: $tnn-secondary;
}

.popular-recipes-title-wrapper-1 {
  background-color: $tnn-primary;
}

.popular-recipes-title-wrapper-2 {
  background-color: $tnn-primary;
  background-color: $tnn-primary-transparent;
}

.goto-top {
  background-color: $tnn-light-green;
}

.front-page-rr-sponsors-container {
  background-color: $tnn-light-green-2;
}

/*--------------------------------------------------------------
# Hover
--------------------------------------------------------------*/
.cta-link:hover .cta-caption, .cta-link:focus .cta-caption {
  background-color: rgba(0, 0, 0, .3);
}

/*--------------------------------------------------------------
# Misc
--------------------------------------------------------------*/
.section-divider {
  background-color: $tnn-secondary;
}
