// colours.scss

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Text
# Links
# Backgrounds
# Borders
# Hover
# Misc
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Text
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, .section-title {
  color: $tnn-secondary-variation-1;
}

.cta-caption-title, .book-your-consultation-title, .popular-recipes-title, .popular-recipes-slide-title, .copyright {
  color: $tnn-light;
}

.goto-top-angle {
  color: $tnn-grey-2;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
.entry-content a {
  text-decoration: underline;
}

a, a:link, a:visited  {
  color: $tnn-primary;
}
a:hover, a:active, a:focus  {
  color: $tnn-secondary;
}

.main-navigation a, .topbar.social-icons a, .main-navigation a:link, .topbar.social-icons a:link, .main-navigation a:visited, .topbar.social-icons a:visited {
  color: $tnn-secondary;
}
.main-navigation a:hover, .topbar.social-icons a:hover, .main-navigation a:active, .topbar.social-icons a:active, .main-navigation a:focus, .topbar.social-icons a:focus {
  color: $tnn-primary;
}

.sub-menu .menu-item a, .footer-navigation a, .sub-menu .menu-item a:link, .footer-navigation a:link, .sub-menu .menu-item a:visited, .footer-navigation a:visited {
  color: $tnn-light;
}
.sub-menu a:hover, .sub-menu a:active .sub-menu a:focus {
  color: $tnn-light;
}
.footer-navigation a:hover, .footer-navigation a:active, .footer-navigation a:focus {
  color: $tnn-primary;
}

.footer.social-icons a:hover, .site-info a:hover, .footer.social-icons a:active, .site-info a:active, .footer.social-icons a:focus, .site-info a:focus {
  color: $tnn-light;
}

.book-your-consultation-link:hover, .book-your-consultation-link:active, .book-your-consultation-link:focus  {
  color: $tnn-primary-variation-3;
}

.main-navigation a {
  border-bottom: solid $tnn-light 5px;
}
.main-navigation a:hover, .main-navigation a:focus, .main-navigation a:active {
  border-bottom: solid $tnn-primary 5px;
}
.main-navigation .current_page_item a {
  border-bottom: solid $tnn-primary 5px;
}
.site-footer .current_page_item a {
  color: $tnn-primary;
}

.sub-menu .menu-item a:hover, .sub-menu .menu-item a:focus{
  background-color: $tnn-primary;
}

/*--------------------------------------------------------------
# Background
--------------------------------------------------------------*/
.sub-menu, .site-footer {
  background-color: $tnn-secondary;
}

.popular-recipes-title-wrapper-1 {
  background-color: $tnn-primary;
}

.popular-recipes-title-wrapper-2 {
  background-color: $tnn-primary;
  background-color: $tnn-primary-transparent;
}

.goto-top {
  background-color: $tnn-light-green;
}

.front-page-rr-sponsors-container {
  background-color: $tnn-light-green-2;
}

/*--------------------------------------------------------------
# Borders
--------------------------------------------------------------*/
.book-your-consultation-title {
  border: 2px solid $tnn-primary;
}

/*--------------------------------------------------------------
# Hover
--------------------------------------------------------------*/
.cta-link:hover .cta-caption, .cta-link:focus .cta-caption {
  background-color: rgba(0, 0, 0, .3);
}

/*--------------------------------------------------------------
# Misc
--------------------------------------------------------------*/
.section-divider {
  background-color: $tnn-secondary;
}
