// _components.scss

/*--------------------------------------------------------------
# Social links
--------------------------------------------------------------*/
.social-wrap {
    display: flex;
    flex-flow: column nowrap;
}
    .social-wrap .social-link i {
        width: 1.5em;
    }

/*--------------------------------------------------------------
# Recipes
--------------------------------------------------------------*/
.flex-recipes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
    .flex-recipes figure h2 {
        margin: 0;
    }

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonial {
	padding: 5px 25px;
    margin: 50px 0;
    border: 1px solid $tnn-grey-2;
    background-color: $tnn-light-green;
    border-radius: 5px;
    @media only screen and (min-width: 600px) {
        margin: 100px 0;
    }
        
}
    .testimonial .testimonial-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        width: 100px;
        margin-top: -50px;
        @media only screen and (min-width: 600px) {
            margin-top: -75px;
            width: 150px;
        }   
    }
    .testimonial blockquote {
    border-left: 5px solid #C0D231;
    padding: 0 0.5em 0.25em;
    margin: 0;
    margin-top: 0.25em;
    font-size: 1em;
    @media only screen and (min-width: 600px) { 
        font-size: 1.25em;
        padding: 0 1em 0.25em;
        margin: 1em;
    }
    }
    .testimonial blockquote p {
        margin: 0em;
    }
        
    .testimonial footer {
        text-align: right;
        padding: 5px 0 5px 25px;
        margin: 15px 0 15px 20px;
    }
        .testimonial footer cite {
            font-style: italic;
        }

/*--------------------------------------------------------------
# Accordions
--------------------------------------------------------------*/
.tab {
    position: relative;
    border-bottom: 1px solid white;
    width: 100%;
    color: #fff;
    overflow: hidden;
  }
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab label {
    position: relative;
    display: block;
    padding: 0 2em 0 1em;
    background: #76BE43;
    font-weight: bold;
    line-height: 2;
    cursor: pointer;
    
  }
  .tab-content {
    max-height: 0;
    overflow: hidden;
    background: #76BE43;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }
  .tab-content p {
    color: #fff !important;
    margin: 1em;
    padding: 0;
    @media only screen and (min-width: 600px) { 
        padding: 0 2em;
    }
  }
  /* :checked */
  .tab input:checked ~ .tab-content {
    max-height: 40em;
  }
  /* Icon */
  .tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 2em;
    height: 2em;
    line-height: 2;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  .tab input[type=checkbox] + label::after {
    content: "+";
  }
  .tab input[type=radio] + label::after {
    content: "\25BC";
  }
  .tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }
  .tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }
  a.tnn-program-link {
      color: #fff;
      border-radius: 5px;
      transition: all 0.3s;
      @media only screen and (min-width: 600px) {
        background-color: #6A813B; 
        border: 1px solid #ddd;
        padding: 0.5em 1em;
    }
  }
  a.tnn-program-link:hover {
    @media only screen and (min-width: 600px) {
      color: #C0D231;
      background-color: #87a54c;
    }
  }
  a.tnn-testing-link, a.alternate-link {
      color: #6A813B;
        transition: all 0.3s
  }
  a.tnn-testing-link:hover, a.alternate-link:hover {
      color: #C0D231;
  }

/*--------------------------------------------------------------
# Recommended reading
--------------------------------------------------------------*/
.recommended-reading-figure img {
    margin-bottom: 0.5em;
    @media only screen and (min-width: 600px) {
    margin-bottom: 2em;
    }
}

/*--------------------------------------------------------------
# AffiliateWP
--------------------------------------------------------------*/
#affwp-affiliate-dashboard {
	flex-basis: 100%;
}
.affwp-errors {
	order: 1;
  	flex-basis: 100%;
}
.affwp-form {
  border: 1px solid #d3ced2;
  padding: 20px;
  margin: 2em 0;
  text-align: left;
  border-radius: 5px;
}
.affwp-form label {
  display: block;
}
.affwp-form input[type="password"], .affwp-form input[type="text"],
 .affwp-form input[type="email"], .affwp-form input[type="password"], .affwp-form textarea {
    max-width: 75vw;
    width: 100%;
}
#affwp-login-form {
    float: left;
    width: 48%;
    padding: 10px;
    @media only screen and (max-width: 1000px) {
        float: none;
        width: 100%;
    }
}
#affwp-register-form {
    float: right;
    width: 48%;
    padding: 10px;
    @media only screen and (max-width: 1000px) {
        float: none;
        width: 100%;
    }
}
