// _cta-imgs.scss
.cta-figure {
  margin: 0;
}
.cta-caption {
  color: $tnn-light;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-caption .cta-caption-title{
  padding: 0 10vw;
}
@supports (display: flex) {
  .cta-images {
    display: flex;
    flex-flow: column wrap;
  }
}

@media screen and (min-width: 37.5em) {
  .cta-images {
    display: flex;
    flex-flow: row wrap;
  }
  .cta-images a {
    text-decoration: none;
    flex-basis: 33.33%;
  }
  .cta-caption .cta-caption-title{
    padding: 0 .5em;
  }
}

.cta-figure .cta-caption {
  background-color: $tnn-secondary;
}
.cta-figure .cta-caption:hover {
  background-color: $tnn-primary;
}
@supports (display: grid) {
  .cta-figure .cta-caption {
    background-color: rgba(0, 0, 0, .4)
  }
  .cta-link:hover .cta-caption, .cta-link:focus .cta-caption {
    background-color: rgba(0, 0, 0, .3);
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .cta-images {
    flex-flow: row wrap;
  }
  /*.cta-images a {
    text-decoration: none;
    flex-basis: 100%;
  }*/
}