// _cta-imgs.scss
.cta-figure {
  margin: 0;
}
.cta-caption {
  color: $tnn-light;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.cta-caption .cta-caption-title{
  padding: 0 10vw;
}
@media screen and (min-width: 37.5em) {
  .cta-images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .cta-images a {
    text-decoration: none;
    flex-basis: 33.33%;
  }
  .cta-caption .cta-caption-title{
    padding: 0 .5em;
  }
}
