// _cta-imgs.scss
.cta-figure {
  margin: 0;
}
.cta-images {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.cta-images a {
  text-decoration: none;
}

.cta-caption {
  color: $tnn-light;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.cta-caption .cta-caption-title{
  width: 60%;
}

.cta-caption-title span {
  display: block;
}
