// _footer.scss

.site-footer {
  padding: 0 3em;
}

.goto-top {
  text-align: center;
  padding: 1.5em 0;
}

.footer-main-container {
  padding: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.footer-navigation {
  flex-basis: 40%;
}

.footer-navigation ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.footer-navigation li::after {
  content: "|";
  padding: 0 1em;
  color: $tnn-primary;
}

.footer-navigation a {
  text-decoration: none;
}

.footer.social-icons ul {
  margin: 0;
  padding: 0;
}
