// _footer.scss
.site-footer {
  padding: 0 10vw;
}
.goto-top {
  text-align: center;
  padding: 1.5em 0;
}
.footer-main-container {
  padding: 10vw 0;
}
.footer-navigation ul, .footer.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer.social-icons ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10vw 0 0 0;
}

@media screen and (min-width: 37.5em) {
  .site-footer {
    padding: 0 3em;
  }
  .footer-main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 3em;
  }
  .footer-navigation {
    flex-basis: 40%;
  }

  .footer-navigation ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .footer-navigation li::after {
    content: "|";
    padding: 0 1em;
    color: $tnn-primary;
  }

  .footer-navigation a {
    text-decoration: none;
  }

  .footer.social-icons ul {
    margin: 0;
    padding: 0;
  }
}
