// _header.scss
.topbar {
  display: none;
}
.menu-toggle {
  width: 100%;
}
.main-navigation {
  border-bottom: 3px solid $tnn-secondary;
}
.site-branding {
  margin: 10vw;
  text-align: center;
}

// Search
.search-form {
  background-color: $tnn-light-variation-1;
  padding: 2vw;
}
.search-form input[type="search"] {
  border: none;
  background-color: $tnn-light-variation-1;
  color: $tnn-secondary;
  width: 85%;
}
@supports (display: flex) {
  .search-form {
    display: flex;
    justify-content: space-around;
  }
  .search-form input[type="search"] {
    -webkit-flex-grow: 1;
    flex: 1 1 auto;
  }
}
.search-form input[type="search"]:focus {
  background-color: $tnn-light;
}
.search-submit {
  border: none;
  float: right;
  background-color: $tnn-light-variation-1;
  color: $tnn-secondary;
}

@media screen and (min-width: 37.5em) {
  .site-header {
    display: block;
  }
  .topbar {
    display: block;
  }
  // header-nav-topbar.scss
  .topbar-navigation {
    background-color: $background-grey;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  }
  .site-branding {
    max-width: 300px;
    max-height: inherit;
    align-self: center;
    margin: 3rem auto;
  }
  .main-navigation {
    border-bottom: none;
  }
  .site-branding img {
    max-height: inherit;
  }
  .topbar.social-icons ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 2vw;
  }
  .topbar.social-icons ul {
    margin: 1em 0;
    list-style: none;
  }
  .topbar.social-icons li {
    margin: 0 1vw;
  }
  .search-topbar {
    align-self: center;
    margin: 0 1em;
    padding: 0;
    flex-grow: 1;
  }
  .search-form {
    padding: 0.2em;
  }
  .front-cta {
    text-transform: uppercase;
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0.5;
  }
  .front-cta a {
    display: flex;
    align-items: center;
    background-color: $tnn-cta-2;
    padding: 1vw;
    text-decoration: none;
    color: white;
    text-align: center;
  }
  .front-cta a:first-child {
    background-color: $tnn-cta-1;
  }
}

// Fix for landscape orientation on large phones
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .topbar {
    display: none;
  }
}
