// _latest-from-the-blog.scss
.latest-from-the-blog {
  padding-bottom: 2em;
}
.latest-from-the-blog a {
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
}
.latest-posts-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.latest-post {
  max-width: 25%;
  margin: 0 1em;
}

.latest-post-figure {
  margin: 0;
}

.latest-post-figure .wp-post-image {
  margin-bottom: 1em;
}


.latest-post-title { /* turn into a variable*/
  max-width: 250px;
  text-align: center;
  margin: auto;
}
