// _latest-from-the-blog.scss
.latest-from-the-blog {
  padding-bottom: 2em;
}
.latest-from-the-blog a {
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
}
.latest-posts-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.latest-posts-ul img {
  margin: 0 auto;
}
@supports (display: flex) { // Allow to fallback to underscores.scss for IOS
  .latest-posts-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

.latest-post-figure {
  margin: 0;
}

.latest-post-figure .wp-post-image {
  margin-bottom: 1em;
}


.latest-post-title { /* turn into a variable*/
  max-width: 250px;
  text-align: center;
  margin: auto;
}

.latest-post-title h4 {
  margin-top: 0.8em;
}

@media screen and (min-width: 37.5em) {
  .latest-posts-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .latest-post {
    margin: 0 1em;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .latest-posts-ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  .latest-post-li {
    margin: 1em;
  }
}  