// _layout.scss
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Front Page
# CTA Grid
# Consultation Grid
# Page Layout & Front Page Layout
# Post Layout
  # Post Grid
  # Post Flex
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/
.entry-header {
  margin-top: 10vw;
  @media screen and (min-width: 37.5em) {
    margin-top: 3em;
  }
}
.mailchimp-opt-in, .front-page-product-advertising, .front-page-rr-sponsors-container {
  padding: 10vw;
  @media screen and (min-width: 37.5em) {
    padding: 3em;
  }
}
.section-divider {
  // vertical | horizontal
  margin: 0 3em;
}

/*--------------------------------------------------------------
# CTA Grid
--------------------------------------------------------------*/
.cta-figure {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
.cta-figure img {
  grid-column-start: 1;
  grid-row-start: 1;
}
.cta-figure .cta-caption {
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: stretch;
}
/*--------------------------------------------------------------
# Consultation Grid
--------------------------------------------------------------*/
@media screen and (min-width: 37.5em) {
  .consultation {
    display: grid;
    grid-template-columns: 10% 50% 15% 15% 10%;
    grid-template-rows: repeat(3, [row] auto  );
  }
  .book-your-consultation-title {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
  }
  .consultation img {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
  }
}

/*--------------------------------------------------------------
# Page layout & Front Page Layout & Archive & Search & Store & 404
--------------------------------------------------------------*/
.page .content-area, .archive .content-area, .search .content-area,
 .error404 .content-area, .single.woocommerce .site-main {
  padding: 3em; // for browsers that don't support vw uints
  padding: 5vw;
  margin-top: 0;
  @supports (display: grid) {
    @media screen and (min-width: 37.5em) {
      padding: 0;
      margin-top: 1.5em;
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
    }
  }
}
.page .site-main, .archive .site-main, .search .site-main, .error404 .site-main, .woocommerce .woocommerce-breadcrumb, .woocommerce .woocommerce-message, .woocommerce .woocommerce-info, .woocommerce .woocommerce-error, .woocommerce .product  {
  grid-column: 2 / 3;
}
.page .entry-header {
  @media screen and (min-width: 37.5em) {
    padding: 0;
  }
}