// _mailchimp.scss

// must override mailchimp plugins
.mailchimp-opt-in { // Container
  background-image: url("../img/mailchimp-opt-in-background.jpg");
  background-size: conver;
}
.mailchimp-opt-in-form {
  width: 60%;
  margin: 0 auto;
}

.indicates-required {
  text-align: right;
}
.form-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}
.form-wrapper .form-element {
  flex-basis: 33%;
}
.form-wrapper .form-element:last-child {
  flex-basis: 10%;
}

.mc-field-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
input.mailchimp-input { // Use underscores inputs to override
  padding: 1em 0.5em;
  background-color: transparent;
  color: $tnn-secondary;
}

.response { // Error/success response
  margin: 1em;
}
