// main-navigatin.scss

.main-navigation .nav-menu {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.nav-menu .menu-item a {
  margin-right: 1em;
  padding: 1em ;
}

.sub-menu .menu-item {
  margin: 0;
}

.sub-menu .menu-item a {
    padding: 0.5em 1em;
    margin-right: 0;
}

.sub-menu .menu-item a {
  border-bottom: none;
  text-transform: capitalize;
}
