// navigatin.scss
.menu-nav-main-container {
  background-color: $tnn-secondary;
}
.main-navigation.toggled .nav-menu {
  display: flex; // From display: none to display: flex
  flex-direction: column;
  padding: 0.6em 0;
}
.main-navigation.toggled .sub-menu, .main-navigation .menu-toggle .fa-times, .main-navigation.toggled .menu-toggle .fa-bars {
  display: none;
}
.main-navigation .menu-toggle .fa-bars, .main-navigation.toggled .menu-toggle .fa-times {
  display: inline;
}
.nav-menu .menu-item a {
  padding: 0.6em ;
}
.main-navigation a, .main-navigation a:link, .main-navigation a:visited {
  color: $tnn-light;
}
.main-navigation a:hover, .main-navigation a:active, .main-navigation a:focus, .main-navigation .current_page_item a:hover, .main-navigation .current_page_item a:active, .main-navigation .current-menu-item a:active, .main-navigation .current_page_item a:focus, .main-navigation .current-menu-item a:focus {
  background-color: $tnn-primary;
}
.main-navigation .current_page_item a, .main-navigation .current-menu-item a {
  background-color: $tnn-primary-variation-3;
}
.footer-navigation a, .footer-navigation a:link, .footer-navigation a:visited {
  color: $tnn-light;
}
.footer-navigation a:hover, .footer-navigation a:active, .footer-navigation a:focus {
  color: $tnn-primary;
}
.footer.social-icons a:hover, .site-info a:hover, .footer.social-icons a:active, .site-info a:active, .footer.social-icons a:focus, .site-info a:focus {
  color: $tnn-light;
}
.site-footer .current_page_item, .site-footer .current-menu-item a {
  color: $tnn-primary;
}
.main-navigation li { // Overwrites underscores.scss to work with IOS 7 & 8
  float: none;
  position: static;
}

@media screen and (min-width: 37.5em) {   // and and (orientation: portrait) ensures that rotating the screen doesn't change the layout
  .main-navigation li { // Overwrites underscores.scss to work with IOS 7 & 8
    float: left;
    position: relative;
  }
  .menu-item-12421 { // Hide client/login menu item on larger screens
    display: none;
  }
  .topbar.social-icons a, .topbar.social-icons a:link, .topbar.social-icons a:visited {
    color: $tnn-secondary;
  }
  .topbar.social-icons a:hover, .topbar.social-icons a:active, .topbar.social-icons a:focus {
    color: $tnn-primary;
  }
  .menu-nav-main-container {
    background-color: $tnn-light;
  }
  .main-navigation .nav-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0;
  }
  .nav-menu .menu-item {
    flex: 1 1 auto;
    text-align: center;
  }
  .nav-menu .menu-item a {
    padding: 0;
  }
  .sub-menu .menu-item {
    margin: 0;
    text-align: left;
  }
  .sub-menu .menu-item a {
      padding: 0.5em 1em;
      white-space: normal;
  }
  .main-navigation a, .main-navigation a:link, .main-navigation a:visited, .main-navigation .current-menu-item a {
    color: $tnn-secondary;
    background-color: $tnn-light;
    border-bottom: solid $tnn-light 5px;
  }
  .main-navigation a:hover, .main-navigation a:active, .main-navigation a:focus {
    background-color: $tnn-light;
    border-bottom: solid $tnn-primary 5px;
  }
  .main-navigation .sub-menu a, .main-navigation .sub-menu a:link, .main-navigation .sub-menu a:visited {
    border-bottom: none;
    color: $tnn-light;
    background-color: $tnn-secondary;
  }
  .main-navigation .sub-menu a:hover, .main-navigation .sub-menu a:active, .main-navigation .sub-menu a:focus {
    background-color: $tnn-primary;
  }
  .main-navigation .current_page_item a, .main-navigation .current-menu-ancestor a {
    border-bottom: solid $tnn-primary 5px;
  }
  .main-navigation .current_page_item a:hover, .main-navigation .current_page_item a:active, .main-navigation .current_page_item a:focus {
    background-color: $tnn-light;
  }
  .main-navigation .sub-menu .current-menu-item a{
    background-color: $tnn-primary-variation-3;
  }
  .sub-menu .menu-item a:hover, .sub-menu .menu-item a:focus{
    background-color: $tnn-primary;
  }
}

@media screen and (min-width: 56.25em) {
  .main-navigation .nav-menu {
    justify-content: center;
  }
  .nav-menu .menu-item {
    flex: 0 1 auto;
  }
  .nav-menu .menu-item a {
    padding: 0.6em ;
  }
}

// Fix for landscape orientation on large phones
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .main-navigation .nav-menu {
    display: none;
  }
  .menu-toggle,
  .main-navigation.toggled ul {
  	display: block;
  }
  .nav-menu .menu-item {
    text-align: left;
  }
  .menu-nav-main-container {
    background-color: $tnn-secondary;
  }
  .main-navigation.toggled .nav-menu {
    display: flex; // From display: none to display: flex
    flex-direction: column;
    padding: 0.6em 0;
  }
  .main-navigation.toggled .sub-menu, .main-navigation .menu-toggle .fa-times, .main-navigation.toggled .menu-toggle .fa-bars {
    display: none;
  }
  .main-navigation .menu-toggle .fa-bars, .main-navigation.toggled .menu-toggle .fa-times {
    display: inline;
  }
  .nav-menu .menu-item a {
    padding: 0.6em ;
  }
  .main-navigation a, .main-navigation a:link, .main-navigation a:visited {
    color: $tnn-light;
    background-color: $tnn-secondary;
    border-bottom: none;
  }
  .main-navigation a:hover, .main-navigation a:active, .main-navigation a:focus, .main-navigation .current_page_item a:hover, .main-navigation .current-menu-item a:hover, .main-navigation .current_page_item a:active, .main-navigation .current-menu-item a:active, .main-navigation .current_page_item a:focus, .main-navigation .current-menu-item a:focus {
    background-color: $tnn-primary;
  }
  .main-navigation .current_page_item a, .main-navigation .current-menu-item a {
    background-color: $tnn-primary-variation-3;
  }
  .footer-navigation a, .footer-navigation a:link, .footer-navigation a:visited {
    color: $tnn-light;
  }
  .footer-navigation a:hover, .footer-navigation a:active, .footer-navigation a:focus {
    color: $tnn-primary;
  }
  .footer.social-icons a:hover, .site-info a:hover, .footer.social-icons a:active, .site-info a:active, .footer.social-icons a:focus, .site-info a:focus {
    color: $tnn-light;
  }
  .site-footer .current_page_item, .site-footer .current-menu-item a {
    color: $tnn-primary;
  }
  .main-navigation li { // Overwrites underscores.scss to work with IOS 7 & 8
    float: none;
    position: static;
  }
}
