// sale-notice.scss

.sales-notice {
  background-color: $tnn-secondary;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}
.sales-notice-title, .sales-notice-paragraph{
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.sales-notice-title {
  text-transform: uppercase; /* put in font.scss */
  margin: 1rem 0;
  color: $tnn-primary-variation-1;
}
.sales-notice-paragraph {
  color: $tnn-light;
}

.sales-notice { /* Triangle thingy http://www.cssarrowplease.com/ */
  	position: relative;
}

.sales-notice-paragraph:after { /* Triangle thingy */
  top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(106, 129, 57, 0);
	border-top-color: $tnn-secondary;
	border-width: 30px;
	margin-left: -30px;
}
