// single.scss

/*--------------------------------------------------------------
# Post
--------------------------------------------------------------*/
.single .avatar {
    border-radius: 50%;
  }
  .single .blog-sidebar {
    display: none;
    @media screen and (min-width: 37.5em) {
      display: block;
    }
  }
  .single .blog-footer {
    display: block;
    @media screen and (min-width: 37.5em) {
      display: none;
    }
  }
  .single .post-title, .single .post-hero-image, .single .post-image-alternative, .single .post-excerpt {
    display: none;
    @media screen and (min-width: 37.5em) {
      display: block;
    }
  }
  
  .single .site-main .entry-header {
    @media screen and (min-width: 37.5em) {
      display: none;
    }
  }
  .single .site-main {
    padding: 5vw;
    margin-top: 0;
    @media screen and (min-width: 37.5em) {
      padding: 5vw;
      padding-top: 0;
      margin-top: 1.5em;
    }
  }
  .single .post-title {
    margin: 0.25em 0 .5em 0;
  }
  .single .post-excerpt p {
    margin-top: 0;
  }
  .single .entry-content {
    margin-top: 0;
  }
  .single .entry-content p:first-child {
    margin-top: 0;
  }
  .single .blog-author-sidebar h3 {
    margin: 0.25em 0 0.5em 0;
  }
  .single .blog-author-sidebar p {
    margin: 0.25em 0 0.5em 0;
  }
  .single .blog-social-sidebar h3:first-child {
    margin-top: 0;
  }
  
  /*--------------------------------------------------------------
  # Post Grid
  --------------------------------------------------------------*/
  @media screen and (min-width: 37.5em) {
    .single .site-main {
      display: grid;
      grid-template: repeat(8, auto) / 2fr 7fr 2fr;
      grid-gap: 1em 5vw;
      max-width: 100%;
      overflow-y: hidden;
    }
  }
  .single .post-categories {
    grid-area: 1 / 2 / 2 / 2;
  }
  .single .post-title {
    grid-area: 2 / 2 / 3 / 2;
  }
  .single .post-excerpt {
    grid-area: 3 / 2 / 4 / 2;
  }
  .single .post-hero-image {
    grid-area: 4 / 1 / 5 / 4;
  }
  .single .post-image-alternative {
    grid-area: 4 / 2 / 5 / 3;
  }
  .single .blog-author-sidebar {
    grid-area: 5 / 1 / 6 / 2;
  }
  .single .blog-social-sidebar {
    grid-area: 5 / 3 / 6 / 4;
  }
  .single .post {
    grid-area: 5 / 2 / 7 / 3;
  }
  .single .post-navigation {
    grid-area: 7 / 2 / 8 / 3;
  }
  .single .comments-area {
    grid-area: 8 / 2 / 9 / 3;
  }
  
  .single .blog-sidebar.social-icons ul, .single .blog-footer.social-icons ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
    .single .blog-sidebar {
      @media screen and (min-width: 37.5em) {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
      }
    }
    .single .blog-author-sidebar {
      @media screen and (min-width: 37.5em) {
        align-items: center;
      }
    }
    .single .blog-sidebar.social-icons, .single .blog-footer.social-icons ul {
        align-self: stretch;
    }
    .single .blog-sidebar.social-icons ul, .single .blog-footer.social-icons ul {
        align-self: stretch;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    .single .blog-footer h3 {
      text-align: center;
      @media screen and (min-width: 400px) {
        margin: 0;
      } 
    }
    .single .blog-footer.social-icons ul {
      justify-content: center;
    }
    .single .blog-footer.social-icons ul li {
      flex: 1 1 auto;
      text-align: center;
    }
  .single .post-footer .blog-footer {
    @supports (display: flex) {
      flex: 1 1 100%;
      @media screen and (min-width: 400px) {
        flex: 1 1 50%;
      } 
    }
  }
  .single .post-footer .author.blog-footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 100%;
    @media screen and (min-width: 37.5em) {
      display: none;
    }
  }
  .single .post-footer .author.blog-footer p {
    margin: 0;
  }
  .single .post-footer .blog-footer h3:first-child {
    @media screen and (min-width: 37.5em) {
      margin-top: 0;
    }
  }
  .single .post-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (min-width: 37.5em) {
      justify-content: center;
    }
  }
  .single .post-footer .blog-footer {
    @media screen and (min-width: 37.5em) {
      margin: 0 1em;
    }
  }
  .single .post-navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

/*--------------------------------------------------------------
# Fixes
--------------------------------------------------------------*/
// Hide elements for browser that do not support grid
.single .blog-sidebar {
  display: none;
}
.single .blog-footer {
  display: block;
}
.single .post-footer .author.blog-footer {
  display: flex;
}
@supports (display: grid) {
  @media screen and (min-width: 37.5em) {
    .single .blog-sidebar {
      display: block;
    }
    .single .blog-footer, .single .post-footer .author.blog-footer {
      display: none;
    }
  }
}
// Large phones in landscape mode
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .single .site-main {
    display: block;
  }
  .single .blog-sidebar {
      display: none;
  }
  .single .blog-footer {
    display: block;
  }
  .single .post-footer .author.blog-footer {
      display: flex;
  }

  .single .post-footer .blog-footer h3, .single .post-footer .blog-footer h3:first-child {
    margin: 1em;
    margin-top: 1em;
  }
}