// _sliders.scss

.popular-recipes .flickity-prev-next-button {
  top: 60%;
}
.slider a {
  text-decoration: none;
}
.slider-img {
  max-width: none;
  width: 100%;
}
.banner-slider-cell, .popular-recipes-slider-cell {
  width: 100%;
}
.popular-recipes-title-wrapper-1, .popular-recipes-title-wrapper-2 {
  overflow: auto;
  box-shadow: $tnn-shadow;
}

.popular-recipes-slide-title {
  text-align: center;
}

/* position dots in carousel */
.slider .flickity-page-dots {
  bottom: 5px;
}
/* white circles */
.slider .flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.slider .flickity-page-dots .dot.is-selected {
  background: white;
}
@media screen and (min-width: 37.5em) {
  .popular-recipes-title-wrapper-2 {
    padding-right: 3em;
  }
  .popular-recipes-title-wrapper-2 {
    padding-right: 10vw;
  }
  .popular-recipes-slide-title {
    text-align: right;
  }
}

/* Hide the Flickity navigation */
.flickity-page-dots, .flickity-prev-next-button {
  display: none;
}
