// _sliders.scss

.popular-recipes-title, .popular-recipes-slide-title {
  margin: 0;
  padding: 2em 0;
}

.popular-recipes-title {
  text-align: center;
}

.popular-recipes-slide-title {
  text-align: right;
}
