// _variables.scss

// Find colours names from coolrs.io

// Light Colours
$tnn-primary: #78bc42;
$tnn-primary-variation-1: #79bc43;
$tnn-primary-variation-2: #79bb43; //Recipes header

// Dark Colours
$tnn-secondary: #6a8139;
$tnn-secondary-variation-1: #6a823a;

// Neutrals
$tnn-grey: #868686;
$tnn-grey-2: #c5ccc2;
$background-grey: #e7e7e8;
$tnn-light: #ffffff;
$tnn-light-green: #e8f3df;
$tnn-light-green-2: #f4f9ef;

// Buttons
$tnn-cta-1: #93c968;
$tnn-cta-2: #78bc42; // Same as $tnn-primary

// Gradients & Transparencies
$cta-dark-gradient: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
$tnn-primary-transparent: rgba(120, 188, 66, 0.8);
