// _woocommerce-custom.scss

.store-information {
    border: 2px $tnn-primary solid;
    padding: 1em;
    display: inline-block;
    font-weight: bold;
    margin-top: 1em;
}


@media only screen and (max-width: 472px) {
    .woocommerce div.product .woocommerce-tabs ul.tabs {
        padding: 0 0 0 0.5em;
    }
        .woocommerce div.product .woocommerce-tabs ul.tabs li {
            width: 100%;
            //padding: 0;
        }
            .woocommerce div.product .woocommerce-tabs ul.tabs li a {
                width: 100%;
            }
            .woocommerce div.product .woocommerce-tabs ul.tabs li::after,
            .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
                    content: none;
                }
}

// WooCommerce memberships
.woocommerce-account .membership-product-image img, .woocommerce-account .membership-discount-image img {
    max-height: unset;
    max-width: 100px;
}

// WooCommerce Store
.woocommerce ul.products li.product {
   box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}
.woocommerce ul.products li.product:hover { //Careful of hover on touch devices? test this
    box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, .4);
}
.woocommerce li.has-post-thumbnail img {
    background: linear-gradient(white, #e3e3e3);
}
.woocommerce ul.products li.product h2.woocommerce-loop-product__title {
    padding: 0 0.5em;
    min-height: 2.5em;
}
.woocommerce ul.products li.product .price {
    padding: 0 0.5em;
    display: flex;
}
.woocommerce ul.products li.product .price del, .woocommerce ul.products li.product .price ins {
    margin: 0 0.2em;
}
.woocommerce ul.products li.product .button, .woocommerce ul.products li.product .added_to_cart {
    margin: 0 0.5em 0.5em;
}
@media screen and (min-width: 1440px) {
    .woocommerce ul.products li.product .added_to_cart {
        margin: 0;
    }
}

// WooCommerce Products
.woocommerce div.product div.images img {
    background: linear-gradient(white, #e3e3e3);
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}