// _woocommerce-custom.scss

.store-information {
    border: 2px $tnn-primary solid;
    padding: 1em;
    display: inline-block;
    font-weight: bold;
    margin-top: 1em;
}


@media only screen and (max-width: 472px) {
    .woocommerce div.product .woocommerce-tabs ul.tabs {
        padding: 0 0 0 0.5em;
    }
        .woocommerce div.product .woocommerce-tabs ul.tabs li {
            width: 100%;
            //padding: 0;
        }
            .woocommerce div.product .woocommerce-tabs ul.tabs li a {
                width: 100%;
            }
            .woocommerce div.product .woocommerce-tabs ul.tabs li::after,
            .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
                    content: none;
                }
}

// WooCommerce memberships
.woocommerce-account .membership-product-image img, .woocommerce-account .membership-discount-image img {
    max-height: unset;
    max-width: 100px;
}

// WooCommerce Store
.woocommerce ul.products li.product {
   box-shadow: 1px 1px 10px rgba(136, 136, 136, 0.57);
}
.woocommerce ul.products li.product:hover { //Careful of hover on touch devices? test this
    box-shadow: 1px 1px 4px #888;
}
.woocommerce li.has-post-thumbnail img {
    background: linear-gradient(#e3e3e3, white, #e3e3e3);
}
.woocommerce ul.products li.product h2.woocommerce-loop-product__title {
    padding: 0 0.5em;
}
.woocommerce ul.products li.product .price {
    padding: 0 0.5em;
}
.woocommerce ul.products li.product .button {
    margin: 0 0.5em 0.5em;
}

// WooCommerce Products
.woocommerce div.product div.images img {
    background: linear-gradient(#e3e3e3, white, #e3e3e3);
}